node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
web-build/
config.ts

# macOS
.DS_Store

/android
/ios

google-services.json

.env.local

ServiceAccountRahapay.json